@model LeaveManagementWeb.Models.LeaveAllocationEditVM

@{
    ViewData["Title"] = "Edit allocation";
}

<h1>Edit @Model.LeaveType?.Name allocation for @Model.Employee.FirstName @Model.Employee.LastName</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditAllocation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="LeaveTypeId" />
            <div class="form-group">
                <label asp-for="NumberOfDays" class="control-label"></label>
                <input asp-for="NumberOfDays" class="form-control" />
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-warning" /> &nbsp;
                <a asp-action="ViewAllocations" class="btn btn-danger" asp-route-id="@Model.Employee.Id">Back to Employee</a> &nbsp;
                <a asp-action="Index" class="btn btn-dark">Back to List</a> 
            </div>
        </form>
    </div>
</div>