@{
    ViewData["Title"] = "Home Page";
}
<br/>
<h1><center>Welcome to Leave Management App</center></h1>
<h4>This is a project to practise ASP.NET Core and Entity Framework by building an Employee Leave Management System.</h4>
<div class="d-flex flex-column">
    <p>Exercise provided by <strong><a href="https://www.udemy.com/user/trevoirwilliams/">Trevoir Williams</a></strong><br />
    Project made by <strong><a href="https://tyrnisarkka.netlify.app/">Tyrni Särkkä</a></strong></p>
<br/>

    <h4 class="align-self-center">Things practised in this project:</h4>
<ul class="list-group col-md-8 d-flex align-self-center">
    <li class="list-group-item pt-3 pb-0"><p>Building a Database and connecting using <strong>Entity Framework </strong></p></li>
    <li class="list-group-item pt-3 pb-0"><p><strong>Repository Patterns </strong>and <strong>Dependency Injections</strong></p></li>
    <li class="list-group-item pt-3 pb-0"><p>Understanding how the <strong>MVC</strong> Pattern works</p></li>
    <li class="list-group-item pt-3 pb-0"><p>Understanding C# and .NET Core Web Syntax</p></li>
    <li class="list-group-item pt-3 pb-0"><p>Understanding user <strong>Authentication </strong>using <strong>ASP.NET Core Identity</strong></p></li>
    <li class="list-group-item pt-3 pb-0"><p>Understanding how to use <strong>Entity Framework Data Models</strong>, <strong>View Models </strong>and <strong>AutoMapper </strong></p></li>
    <li class="list-group-item pt-3 pb-0"><p>Using <strong>Bootstrap </strong>to style and manipulate the overall layout</p></li>
    <li class="list-group-item pt-3 pb-0"><p>Managing Packages with <strong>NuGet Manager</strong></p></li>
    <li class="list-group-item pt-3 pb-0"><p>Implement Website Layout using <strong>a Third-Party Admin Theme</strong></p></li>
    <li class="list-group-item pt-3 pb-0"><p>Setting up <strong>GitHub </strong>for Source Control</p></li>
    <li class="list-group-item pt-3 pb-0"><p><strong>Implementing Email </strong>Services </p></li>
    </ul>
</div>
<br />